#btnLogin{
    background-color: rgba(35, 193, 204, 0.671);
}

#emailTitulo{
    font-size: 1.3rem;
    color: #a0148d;
}

#passwordtitulo{
    font-size: 1.3rem;
    color: #a0148d;

}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../IMG/Fondo.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }
  
  .form-box {
  
    width: 100%;
    max-width: 30rem;
    padding: 20px;
    box-shadow:
    inset 0 -3em 3em rgba(240, 41, 213, 0.863),
    0 0 0 2px rgb(177, 70, 150),
    0.3em 0.3em 1em rgba(230, 225, 221, 0.683);
    backdrop-filter: blur(10px);
    border-radius: 2rem;
  }
  
  h2 {
    font-size: 24px;
    color: #7ff015;
  }
  .LoginTitulo{
    margin-bottom: 2rem;
    margin-left: 11rem;
    color: #17ddc3;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifv;
  
  }
  
  #inputCss{
    margin: 1rem;
    width: 90%;
    margin-top: 2rem;
  }

.login-register{
    margin-top: 0.5rem;
}

  .input-box {
    position: relative;
    margin-bottom: 20px;
    margin-top: 0.2rem;
  }
  
  .input-box input {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .input-box label {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #999;
    pointer-events: none;
    transition: 0.3s;
    font-size: 14px; 
  }
  
  .input-box input:focus + label,
  .input-box input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    color: #333;
    font-size: 12px; /* Reduce el tamaño de la fuente cuando el input está en foco */
  }
  
  .input-box .icon {
    margin-top: 0.2rem;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #333;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
   
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #7ff015;
  }
  
  .remember-forgot {
    margin-bottom: 20px;
    text-align: right;
  }
  
  .login-register {
    text-align: center;
  }
  
  .login-register a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-register a:hover {
    text-decoration: underline;
  }
  
  #mensajeAlert {
    margin-top: 10px;
    text-align: center;
    color: red;
  }
  